p {
    color:blue;
}
h1 {
    color:black;
}
h2 {
    color:red;
}
ul {
    color:green;
}
span {
    color:orange;
}
.faltante {
    color:purple;
}
#ingrediente-secreto {
    color:yellow;
}