@font-face {
    font-family: 'monserrat';
    src: url("static/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'monserrat';
    src: url("static/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
}